:root {
    --color-primary: #6379F4;
    // --color-default: #E5E5E5;
    --color-light: #ffffff;
    --color-grey: #DADADA;
    --color-dark: #3A3D42;
    --color-default: #E5E8ED;
    // 'error': #FF5B37,
    // 'success': #1EC15F,
    // 'light2': #F8F9FA
}

@import './global/auth.scss';
@import './global/responsive.scss';
@import './global/temp.scss';

body {
    margin: 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Nunito Sans',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.font__light {
    color: var(--color-light) !important;
}
.font__primary{
    color: var(--color-primary) !important;
}

.btn__primary {
    background-color: var(--color-grey) !important;
    border-radius: 5px !important;
    color: var(--color-dark) !important;
    border: none;
}

.bg__primary {
    background-color: var(--color-primary) !important;
}

.btn__default {
    margin: 5px;
    background-color: var(--color-default) !important;
    color: var(--color-drak) !important;
    border-radius: 8px !important;
    text-align: left !important;
}