@media screen and (max-width: 768px) {
    .left__auth {
        display: none;
    }
    .right__auth {
        padding: 15px;
        margin-top: 10%;
    }
    .font__large {
        font-size: 20px !important;
    }
    .sider__nav {
        margin: 5px !important;
    }
    .container__set{
        padding: 10px 20px 10px 20px !important;
    }
    .main__content{
        padding: 15px !important;
        margin: 5px !important;
    }
    // .row__ {
    //     margin-top: 8%;
    // }
}