:root {
    --color-primary: #6379F4;
    --color-light: #ffffff;
    --color-grey: #DADADA;
    --color-dark: #3A3D42;
}
.site-page-header {
    background-color: #fff !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 7em !important;
    @media screen and (max-width: 768px) {
        padding-left: 20px !important;
        .profile {
            display: none !important;
        }
        .float__right {
            left: 4rem !important;
        }
    }
}
.profile{
    margin-right: 25px;
}
.dashboard__temp{
    min-height: 100vh !important;
}
.sider__nav {
    margin: 1.5rem 6rem 1.5rem 6rem;
}
.nav{
    border-radius: 20px !important;
}
.nav__nav{
    background-color: #fff !important;
    border-radius: 15px !important;
}
.main__content{
    margin-left: .9rem;
    padding: 3em;
    width: 100%;
    background-color: #fff !important;
    border-radius: 15px !important;
    &__card{
         margin: 0 .5rem 0 .5rem;
         padding: 15px  !important;
         width: 100%;
         background-color: #fff !important;
         border-radius: 15px !important;
    }
}

.container__set {
    background-color: var(--color-primary) !important;
}
.flex__sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        flex-direction: row;
        padding: 0px;
    }
}
.flex__start {
    width: 30%;
    padding: 0 1em 0 3em;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
}
.space-align-block {
    padding-right: 5em;
    flex: none;
}
.shadow__box{
    border-radius: 10px !important;
    padding: 1em 1em .4em 1em !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin: 7px 0 7px 0 !important;
}
.resize{
    margin-right: .2rem !important;
    padding: 5px !important;
    width: 100px !important;
    border-radius: 5px !important;
}