.header__nav{
    background-color: #fff !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sider__nav {
    // background-color: #fff !important;
    margin: 2rem 6rem 0 6rem;
}
.nav__nav{
    background-color: #fff !important;
}
.main__content{
    margin-left: .9rem;
    padding: 3em;
    width: 100%;
    background-color: #fff !important;
}
.footer__auth {
    background-color: aqua !important;

}
.footer__sb{
    padding: 0 3em 0 3em;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
}
.footer__start {
    width: 30%;
    padding: 0 1em 0 3em;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
}
